#timeline_line {
	position: absolute;
	z-index: -20;
	height: calc(100% + 8em);
	width: 95%;
	left: -8px;
	margin-top: -4em;
	margin-bottom: -4em;
	border-right: 16px solid #fff;
}

@media screen and (min-width: 768px) {
	#timeline_line {
		width: 90%;
	}
}

@media screen and (min-width: 992px) {
	#timeline_line {
		width: 80%;
	}
}

@media screen and (min-width: 1200px) {
	#timeline_line {
		width: 75%;
	}
}

#timeline_events {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.timeline_event {
	margin-bottom: 2em;
}

.timeline_event:last-child {
	margin-bottom: 0;
}

.timeline_event_header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	align-flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	padding: 0.5em 1em;
	color: #fff;
	background-color: #000;
}

.timeline_event:nth-child(odd) > .timeline_event_header {
	border-right: 5px solid #000;
}

.timeline_event:nth-child(even) > .timeline_event_header {
	border-left: 5px solid #000;
}

.timeline_event_date {
	font-size: 75%;
	font-weight: bold;
	text-transform: uppercase;
}

.timeline_event_body {
	width: 85%;
	padding: 1em;
	color: #000;
	background-color: #fff;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.timeline_event_body {
		width: 80%;
	}
}

@media screen and (min-width: 992px) {
	.timeline_event_body {
		width: 75%;
	}
}

@media screen and (min-width: 1200px) {
	.timeline_event_body {
		width: 80%;
	}
}

.timeline_event_body > p {
	text-align: justify;
}
